<div class="page-wrap" id="main">
    <div class="container">
      <div class="row">
        <div class="column text-center">
            <div class="error-display">Error 403</div>
            <div class="message mb-4">
                Acceso Denegado, no tienes permisos para visitar esta página.
            </div>
            <div class="button">
                <button routerLink="/" class="return-btn">Volver a Inicio</button>
            </div>  
        </div>
      </div>
    </div>
</div>
