<section>


<form method="post" (ngSubmit)="create()" enctype="multipart/form-data">
  <p class="title">Cargar Cultivo</p>
  <div class="form-group">
    <label class="">Nombre del Cultivo</label>
    <input type="text" class="form-control" name="nombre" (change)="guardarNombre($event)">
  </div>

  <div class="form-group">
    <label class="">Categoría 
      <a class="submitCat bi bi-" routerLink="/verCategoriaCultivo">+</a>
    
    <div class="input-group">
      <select class="form-control" id="catsel" name="categoria_sel" (change)="selectCategoria($event)">
        <option value="">Seleccione una categoría</option>
        <option *ngFor="let cat of categorias" [value]="cat.id">{{cat.nombre}}</option>
      </select>
    </div>
  </label> 
  </div>

  <div class="flex">
    <label class="">Descripción del Cultivo
    <textarea class="form-control" rows="3" name="descripcion" (change)="guardarDescripcion($event)"></textarea>
  </label>
  </div>

  <div class="flex">
    <label for="formFile" class="subir">Imagen
    <input class="form-control-file input" type="file" name="imagen" (change)="enviarFoto($event)"></label>
  </div>

  <div class="flex">
    <label class="">Región
    <input type="text" class="form-control input" name="region" (change)="guardarRegion($event)">
    </label>
  </div>

  <div class="flex">
    <label class="">Estación de siembra
    <input type="text" class="form-control input" name="estacion" (change)="guardarEstacion($event)">
    </label>
  </div>

  <div class="flex">
    <label class="">Temperatura recomendada
    <input type="text" class="form-control input" name="temperatura" (change)="guardarTemperatura($event)">
    </label>
  </div>

  <button type="submit" class="submit">Cargar</button>
</form>

</section>