<h4 class="titulo">Cargar Cultivo</h4>

<form method="post" (ngSubmit)="create()" class="col-6" enctype="multipart/form-data" >
    
<div class="row g-3" ngForm="form">
    <label  class="form-label">Nombre del Cultivo</label>
    <br>
    <input type="text" class="form-control" name="nombre" (change)="guardarNombre($event)">

    <div class="mb-3">

        <div class="categoria row mb-3">
          <label class="form-label">Categoría</label>
          
            <select class="form-control cat" id="catsel" name="categoria_sel" (change)="selectCategoria($event)">
              <option value="">Selecione una categoria</option>
              <option *ngFor="let cat of categorias" value={{cat.id}}> {{cat.nombre}}</option>
            </select>
          <a  class="catb" routerLink="/verCategoriaCultivo"><button class="btn">+</button></a>
       </div>
    </div>

    <label  class="form-label">Descripción del Cultivo</label>
    <br>
    <textarea class="form-control" rows="3" name="descripcion" (change)="guardarDescripcion($event)"></textarea>

    <div class="mb-3">
        <label for="formFile" class="form-label">Imagen</label>
        <input class="form-control" type="file" name="imagen" (change)="enviarFoto($event)">
      </div>

    <label  class="form-label">Región</label>
    <br>
    <input type="text" class="form-control" name="region" (change)="guardarRegion($event)">
   
    <label  class="form-label">Estación de siembra</label>
    <br>
    <input type="text" class="form-control" name="estacion" (change)="guardarEstacion($event)">

    <label  class="form-label">Temperatura recomendada</label>
    <br>
    <input type="text" class="form-control" name="temperatura" (change)="guardarTemperatura($event)">
  </div>

  

  <button class="btn">Cargar</button>

</form>
