# Ignora la carpeta node_modules y .angular
GardeningFriendWeb/.angular/
GardeningFriendWeb/node_modules/

# Ignora los archivos relacionados a API keys y EV
.env
GardeningFriendWeb/backend/Scripts/env
GardeningFriendWeb/frontend/src/environments
