.container{
    width: 100%;
    max-width: 1980px;
    padding-bottom: 100px;
    padding-top: 50px;
    background-image: url('../../assets/fondos/wooden-background-4.jpg');
    background-position: center;
    /* background-repeat: repeat-y; */
    background-size: cover;
    
    & .titulo-h2{
        font-size: 32px;
        font-weight: 400;
        color: antiquewhite;
        margin: 100px 5px 10px;
        /* text-shadow: 2px 3px 2px darkgreen; */
        font-family: secundaria3;
    }


    & section{
        display: flex;
        justify-content: center;
        background-color: #fff;
        max-width: 80% ;
        margin: 0 auto;
        border-radius: 20px;
        & .tarjeta {
            max-width: 300px;
            margin: 30px auto;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            transition: .3s all ease-in-out;
            
            &:hover{
                transform: translateX(2px);
                transform: translateY(6px);
                box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.75);
            }
            
            & .imagen_wrapper{
                background-color: #368d36b0;
                /* background-color: rgba(255, 255, 255, 0.226); */
                padding: 10px 0;
                width: 100%;
                text-align: center;
                border-radius: 20px 20px 0px 0px;
                
                & img{
                    width: 50%;
                }
            }
            
            & .title{
                background-color: #185218ba;
                /* background-color: rgba(29, 89, 55, 0.374); */
                text-align: center;
                
                & .titulos{
                    color: antiquewhite;
                    font-size: 32px;
                    padding: 20px 0;
                    font-family: var(--secundaria1);
                }
            }
            
            
            
            & .botones{
                background-color: rgb(255, 255, 255);
                border-radius: 0px 0px 20px 20px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding: 20px 0;
                
                & button{
                    border: transparent;
                    font-family: var(--secundaria3);
                    border-radius: 20px;
                    padding: 8px 8px;
                    color: white;
                    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
                    transition: .3s all ease-in-out;
                    cursor: pointer;
                    
                    &:hover{
                        transform: translateX(5px);
                        transform: translateY(5px);
                        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
                    }
                }
            }
        }
    }
    
}



/*MEDIAS QUERY*/


@media only screen and (max-height: 575.98px) and (orientation: landscape){
    .container section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 768px){
    .container section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        justify-content: space-around;
    }
}


@media only screen and (min-width: 992px){
    .container section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        justify-content: space-around;
    }
}


@media only screen and (min-width: 1400px){
    .container section{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        justify-content: space-around;
    }
}
