

<div class="container">
    <section class="col-md-8">
        <h2 class="my-garden">Contacto</h2>
        <div class="tarjeta">
            <img src="../../assets/contacto/garden.png" alt="Imagen de la aplicacio Android">
            <button>Descargar app Android</button>
        </div>
        <div class="tarjeta">
            <p>
                Comunicate con nosotros a travès de todas las redes sociales escaneando el qr que se encuentra a continuaciòn
            </p>
            <img src="../../assets/contacto/qr.jpeg" alt="QR para la vinculacion con las redes sociales">
        </div>

    </section>
    

    

</div>

