

<div class="container">

    <section class="contact">
        <div class="card">
            <img class="mockup" src="../../assets/contacto/garden.png" alt="Imagen de la aplicacio Android">
           
        </div>
        <div class="card text-card">
            <p class="card_txt">
                Comunícate con nosotros a través de todas las redes sociales escaneando el QR que se encuentra a continuación
            </p>
            <img class="qr" src="../../assets/contacto/qr.jpeg" alt="QR para la vinculacion con las redes sociales">
            <a class="link" href="../../assets/contacto/Gardening Friend v1.apk"><img class="playstore" src="../../assets/contacto/playstore.png" alt="Boton de playstore"></a>
        </div>

    </section>
    

    

</div>

