<section>
        <div id="ai_div">
            
            <div id="title_div">
                <img src="../../assets/iconos/icons8-chatbot.gif" alt="robot_icon" id="robot_icon">
                <h3> ASISTENTE IA </h3>
            </div>
    
            
            <div id="question_div">
                <label for="input_ia">Ingresa tu consulta: </label>
                <div id="input_div">
                    <input type="text" id="input_ia" [(ngModel)]="prompt">
                    <input type="button" (click)="onUserInput()" value="OK" id="ok_btn">
                </div>
            </div>


            <p id="wait_response">Respuesta de la IA (puede demorar unos segundos):</p>
    
            <div id="response_div" *ngFor="let results of questions">
                <div><p>{{results.result | sanitizeTextPipe}}</p></div>
            </div>
    
        </div>
    
</section>
