<body>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form">
            <img src="../../assets/logos/isologo.png" />
            <h1>Iniciar sesión</h1>
            <div class="grupo">
                <input formControlName="email" type="email" name="" id="email" class="form-control"/>
                <label for="email">Email</label>
                <span class="help-block alert text-danger" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"> Por favor, Ingresá un email válido!</span>
            </div>
            <div class="grupo">
                <input formControlName="password" type="password" name="" id="password" class="form-control"/>
                <label for="password">Password</label>
                <span class="help-block alert text-danger" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">Tenés que ingresar una contraseña</span>
            </div>
            <p id="mensaje_login"></p>
            <button type="submit" [disabled]="!loginForm.valid">Ingresar</button>
            <div class="cuenta">
                <p>¿No tienes cuenta?</p>
                <a routerLink="/registro">Registrarse</a>
            </div>
        </div>
    </form>
</body>