<body>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form">
            <img src="../../assets/logos/isologo.png" />
            <h1>Iniciar sesión</h1>
            <div class="grupo">
                <input formControlName="email" class="form-control"
                [ngClass]="{ 'is-valid': loginForm.get('email')?.valid, 'is-invalid': loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) }" /><span
                    class="barra"></span>
                <label for="email">Email</label>
                <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="alert alert-danger" class="alert alert-danger">

                    <div *ngIf="loginForm.get('email')?.errors?.['required']">
                        El email es requerido.
                    </div>
                    <div *ngIf="loginForm.get('email')?.errors?.['email']">
                        El email debe tener un formato válido.
                    </div>

                </div>
            </div>
            <div class="grupo">
                <input formControlName="password" class="form-control"
                [ngClass]="{ 'is-valid': loginForm.get('password')?.valid, 'is-invalid': loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) }" /><span
                    class="barra"></span>
                <label for="password">Password</label>
                <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="alert alert-danger">

                    <div *ngIf="loginForm.get('password')?.errors?.['required']">
                        El password es requerido.
                    </div>
                    <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
                        La contraseña debe tener al menos 8 caracteres.
                    </div>

                </div>
            </div>
            <p id="mensaje_login"></p>
            <button type="submit">Ingresar</button>
            <div class="cuenta">
                <p>¿No tienes cuenta?</p>
                <a routerLink="/registro">Registrarse</a>
            </div>
        </div>
    </form>
</body>