<!-- cover para los modales -->
<div class="cover" [class.active]="activeCover"></div>

<!-- section donde se muestran los cultivos -->
<section *ngIf="cultivos.length > 0; else elseCultivos">
    <!-- div de filtros por búsqueda y categoría -->
    <div class="container-filter">
        <form [formGroup]="filterForm" class="filtro">
            <label>Categoría: </label>
            <select formControlName="tipo">
            <option *ngFor="let tipo of tipos" [value]="tipo">{{tipo}}</option>
            </select>
        </form>
        <div class="searchName">
            <input type="text" [(ngModel)]="searchName" placeholder="Tomate" >
        </div>
    </div>
    
    <!-- Alerta de sembrado de cultivos o agregados a favoritos -->
    <div class="alertFavorite" [class.active]="activeAlert">
        <p>{{ alertText }}</p>
        <button (click)="showAlert()">Vale!</button>
    </div>
    
    <!-- div con directiva ngFor que muestra los cultivo que se obtienen de una api rest -->
    <div *ngFor="let cultivo of filteredCultivos | filter: searchName" class="tarjeta" id="{{cultivo.id_cultivo}}">
        <div class="imagen_wrapper">
            <img [src]="cultivo.imagen" alt="{{cultivo.nombre}}">
        </div>
        <div class="title">
            <h5 id="titulo_{{cultivo.id_cultivo}}" class="titulos">{{cultivo.nombre | uppercase}}</h5>
        </div>
        <div class="category">
            <p> <u>Categoría:</u> {{cultivo.categoria}} </p>
        </div>
        <div class="botones">
            <button (click)="showInfo(cultivo)" type="button" class="moreInfo"> MAS INFO</button>
            <button (click)="addToFavorito(cultivo)" type="button" class="favoritos"> A FAVORITOS ★</button>
        </div>
    </div>

</section>

<!-- info de cada cultivo -->
<div class="container-info" *ngIf="activeInfo">
    <span class="close" (click)="toggleInfo()">Close</span>
    <div *ngFor="let cultivo of infoCultivos" class="info-cultivo">
        <div class="info-header">
            <img [src]="cultivo.imagen">
            <p>{{cultivo.nombre}}</p>
        </div>
        <div class="info-descripcion">
            <h6>Información:</h6>
            <p>{{cultivo.descripcion}}</p>
        </div>
        <div class="info-others">
            <p>Tipo de cultivo: <b>{{cultivo.categoria}}</b></p>
            <p>Region: <b>{{cultivo.region}}</b></p>
            <p>Estacion de siembra: <b>{{cultivo.estacion_de_siembra}}</b></p>
            <p>Temperatura recomendada: <b>{{cultivo.temperatura_recomendada}}°C</b></p>
        </div>
    </div>
</div>

<!-- El ng-template se mostrara cuando no haya cultivos -->
<ng-template #elseCultivos>
    <p style="font-size: 24px; font-weight: bold; color: darkgreen; text-align: center; margin: 100px 0; font-family: secundaria1;">No hay ningún cultivo para sembrar.</p>
</ng-template>