<div class="container">
    <div class="row">
        <div *ngFor="let user of users" class="col">
            <div class="card">
                <div class="card-content">
                    <div class="card-image">
                        <img src="/assets/iconos/icono-usuario-2.png" alt="...">
                    </div>
                    <div class="card-body">
                        <!--<h5 class="card-title">usuario&#64;gmail.com</h5>-->
                        <h5 class="card-title">{{ user.email }}</h5>
                        <!--<p class="card-text">Rol: Usuario</p>-->
                        <p class="card-text">Rol: {{ user.is_admin? 'Admin' : 'Usuario Normal' }}</p>
                        <button class="modificar" (click)="openRoleModal(user)">Modificar Rol</button>
                        <button class="eliminar-usuario" (click)="deleteUser(user.id)">Eliminar Usuario</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<!-- Modal personalizado -->
<div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <span class="close" (click)="closeRoleModal()">&times;</span>
      <div class="container-text">
        <h1 class="text-modificar">Modificar Rol</h1>
      </div>

      <div class="conteiner-select">
        <div class="select">
            <label>
                <input type="radio" [(ngModel)]="selectedRole" value="user">
                    Usuario Normal
                </label>
        </div>
        <div class="select">
          <label>
            <input type="radio" [(ngModel)]="selectedRole" value="admin">
                Admin
          </label>
      </div>
      </div>
        

      <div class="button-aceptar">
        <button class="btn-aceptar" (click)="updateRole()">Aceptar</button>
      </div>
      
    </div>
  </div>







