/* :root {
    --colorTextos: #928e8e67;
    --fondo:linear-gradient(to right, #56ab2f, #a8e063);
} */
@font-face {
    font-family: "principal";
    src: url("../../../assets/fonts/Karma-Regular.ttf");
}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    font-family: 'principal';
    background: var(--fondo);
    height: 95vh;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    width: auto;
    background: #fff;
    padding: 10px 0; 
    border-radius: 18px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    
}
img{
    width: 125px;
    margin: 10px auto;
    display: block;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-weight: 600;
    
}

form{
    margin: 45px;
    display: grid;
    column-count: 2;
    grid-template-columns: repeat(2, 1fr);
    gap:1rem
    
}
input {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}
input:focus {
    outline: none;
    color: #5e5d5d;

}
input[type="date"] {
    color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid var(--colorTextos)
   
}

input[type="date"]:focus {
    opacity: 0.3;
    color:#5e5d5d ;
    transition: 0.5s ease all;
    
  }

input:focus~label,
input:valid~label {
    top: -14px;
    font-size: 12px;
    color: var(--verde4);
}

label {
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

form div{
    position: relative;
   
}
button {
    font-family: 'principal';
    background: #56ab2f;
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}