<div class="cover" [class.active]="activeCover"></div>

<div class="container">
    <h1 class="my-garden">Mi Jardín</h1>

    <h2 class="titulo-h2">Favoritos</h2>
    <hr class="linea">

    <div class="alertFavorite" [class.active]="activeAlert">
        <p>{{ alertText }}</p>
        <button (click)="showAlert()">Vale!</button>
    </div>
    <section *ngIf="cultivosToFavorito.length > 0; else elseFavorite">     
        <div *ngFor="let favorito of cultivosToFavorito; let i = index" class="tarjeta" id="{{favorito.id}}">
            <div class="imagen_wrapper">
                <img [src]="favorito.imagen" alt="icono">
            </div>
            <div class="title">
                <h5 id="titulo_{{favorito.id}}" class="titulos"> {{favorito.nombre}} </h5>
            </div>
            <div class="category">
                <p>{{favorito.categoria.nombre}}</p>
            </div>
            <div class="botones">
                <button (click)="showInfo(favorito)" type="button" class="moreInfo bi bi-info-circle-fill"></button>
                <button (click)="removeFavorito(i)" type="button" class="favoritos">FAVORITOS X</button>
            </div>
        </div>

    </section>

    <ng-template #elseFavorite>
        <p style="font-size: 24px; font-weight: bold; color: antiquewhite; text-align: center; margin: 100px 0; font-family: secundaria1;">No hay ningún cultivo agregado a favoritos.</p>
    </ng-template>

</div>


<!-- info de cada cultivo -->

<!-- info de cada cultivo -->
<div class="container-info" *ngIf="activeInfo">
    <span class="close" (click)="toggleInfo()">Close</span>
    <div *ngFor="let cultivo of infoCultivos" class="info-cultivo">
        <div class="info-header">
            <img [src]="cultivo.imagen">
            <p>{{cultivo.nombre}}</p>
        </div>
        <div class="info-descripcion">
            <h6>Información:</h6>
            <p>{{cultivo.descripcion}}</p>
        </div>
        <div class="info-others">
            <p>Tipo de cultivo: <b>{{cultivo.categoria.nombre}}</b></p>
            <p>Region: <b>{{cultivo.region}}</b></p>
            <p>Estacion de siembra: <b>{{cultivo.estacion}}</b></p>
            <p>Temperatura recomendada: <b>{{cultivo.temperatura}}°C</b></p>
        </div>
    </div>
</div>