<header>
    <div id="logo_contenedor"><img src="../../../assets/logos/logo-version-1.png" alt="logo" /></div>
    <div id="opciones">
        <!--<li id="admin" *ngIf="isAdmin"><a  role="button" cursor="pointer">Admin</a></li> -->
        <li id="login_boton" *ngIf="!isAuthenticated"><a routerLink="/Login"> Login </a> </li>
        <li id="cerrar_sesion" *ngIf="isAuthenticated"><a href="#" cursor="pointer" role="button" (click)="logout()"> Cerrar Sesión </a> </li>
        <li id="cuenta_boton" *ngIf="!isAuthenticated"><a routerLink="/Registrarse"> Registrarse </a> </li>
    </div>
</header>