<div id="carrito_wrapper">
    <img src="../../../assets/iconos/icono-ventas.png" id="icono_carrito" alt="icono_carrito" (click)="abrirCarrito()">
</div>

<div id="grid_principal" [ngClass]="getScreenSize()">
    <section id="tienda_grid">

        <!-- portada -->
        <div id="portada">
            <h3> Tienda Virtual</h3>
        </div>

        <!-- buscador -->
        <form id="barra_buscador">
            <label for="search" id="titulo_buscador">Busca lo que deseas!</label> <br>
            <div id="input_wrapper">
                <input type="text" id="buscar" name="buscar" placeholder="buscar..." [(ngModel)] = "palabraBusqueda" (keydown)="buscarProducto()">
                <button type="button" id="ok_buscar" (click)="buscarProducto()">OK</button>
            </div>
        </form>      

        <!-- productos -->
        <div id="grid_productos">
            <div class="productos" *ngFor="let product of stripeProducts; let i = index" id="{{product.name}}" [hidden]="product.visibilidad">
                <!-- imagen presentacion -->
                <div class="img_wrapper">
                    <img src="{{ product.images }}" alt="img_producto" class="icono_producto">
                </div>
                <!-- info producto -->
                <div class="detalles_producto">
                    <h4 class="titulo_producto"> {{ product.name }} </h4>
                    <ul class="carac_producto">
                        <li class="precios">Precio: $<b>{{stripeProducts[i].metadata.precio}}</b></li>
                        <li class="categ_producto">Categoria: {{product.metadata.categoria}}</li>
                        <li class="stock_producto">Stock: Disponible </li>
                        <li class="descripcion_producto">Descripción: {{ product.description}} </li>
                    </ul>
                </div>
                <!-- botones de compra y detalles-->
                <div class="boton_wrapper">
                    <button type="button" class="boton_producto" (click)="comprarProducto($event)" id="btn_compra">
                        <img src="../../../assets/iconos/shopping-icon-20px.png" alt="icon">
                        Comprar
                    </button>
                    <button type="button" class="boton_producto" (click)="verDetalles($event)"> 
                        <img src="../../../assets/iconos/info-icon-20px.png" alt="icon" id="btn_detalles">
                        Detalles
                    </button>
                </div>
            </div>
        </div>

        <!-- ventana modal (compra)-->
        <div class="lightbox" *ngIf="abrirModal" [ngClass]="getScreenSize()">
            <div class="cuadro_compra">
                <!-- cerrar -->
                <div class="barra_cerrar">
                    <img src="../../../assets/iconos/invalid-icon.png" alt="cerrar" (click)="cerrarModalCompra()">
                </div>
                <!-- logo -->
                <div class="logo_producto">
                    <!-- imagen dinamica -->
                    <img [src]="imagenProdSeleccionado">
                </div>
                <!-- formulario (añadir al carrito)-->
                <form class="formulario">
                    <!-- titulo -->
                    <h3>{{nombreProdSeleccionado}}</h3>
                    <!-- input cantidad -->
                    <div id="cantidad_wrapper">
                        <label for="cantidad">Cantidad: </label>
                        <input type="number" name="cantidad" min="1" value="1" id="field_cantidad" [disabled]="limiteStock" [(ngModel)] = "cantidadElegida">
                        <br><hr>
                    </div>
                    <!-- detalles producto -->
                    <ul class="detalles_formulario">
                        <li id="precio_unitario">Precio unitario: <b>${{valorUnitario}}</b> </li>
                        <li id="cantidad_elegida">Cantidad Elegida: <b>{{cantidadElegida}}</b> </li>
                        <li id="valor_comprado">Valor compra: <b>${{valorUnitario * cantidadElegida}}</b> </li>
                        <p *ngIf="validarCantidad()"> <b>LLEGASTE AL LIMITE DEL STOCK</b> </p>
                        <br><hr>
                    </ul>
                    <!-- notificacion (0 cantidad) -->
                    <p *ngIf="cantidadElegida == 0" [ngClass]="{'shakeElement': remarcarMensajeCantidad}">
                        <b>DEBES SELECCIONAR AL MENOS 1 UNIDAD!</b>
                    </p>
                    <!-- notificacion (agregado al carrito) -->
                    <p id="mensaje_carrito" *ngIf="mensajeCarrito && cantidadElegida> 0">
                        <b>Tu selección ha sido añadida al carrito!</b>
                    </p>
                    <!-- botones (comprar & carrito) -->
                    <div class="button_wrapper">
                        <button type="submit" id="anadir_carrito" class="botones_form" (click)="mensajeCarrito = true; agregarCarrito()">Añadir al carrito</button><br>
                        <button type="submit" id="terminar_compra" class="botones_form" (click)="abrirMetodosPago(cantidadElegida)">Ir a la caja</button><br>
                    </div>
                </form>
            </div>
        </div>

        <!-- modal - detalles producto -->
        <!-- componente hijo-->
        <div class="lightbox" *ngIf="abrirModDetalles" [ngClass]="getScreenSize()">
            <app-productos [prodID]="nombreProdSeleccionado" [prodDetalles]="stripeProducts" [prodPrecios]="stripePrices" *ngIf="abrirModDetalles" (booleanProperty)="onBooleanChanged($event)"></app-productos>
        </div>

        <!-- modal - carrito -->
         <div class="lightbox" *ngIf="carrito" [ngClass]="getScreenSize()">
            <app-carrito [seleccion]="selecCarrito" [estadoModal]="carrito" (propBooleana)="cerrarCarrito($event)" (enviarTotal)="abrirMetodosPagoCarrito($event)" ></app-carrito>
        </div> 
    </section>
</div>
