
        <body>
            <main>
                <a id="volver" routerLink="/home">volver</a>
                <!-- logo del sitio -->
                <picture>
                    <img routerLink="/home" src="../../../assets/logos/isologo.png" alt="logo gardenigfriend">
                    <h1>Mi Cuenta</h1>
                </picture>
                    <div >
                        <input type="text">
                        <label >nombre</label>
                        <p>{{perfil.nombre}}</p>
                    </div>
                    <div>
                        <input type="text">
                        <label >Correo</label>
                        <p>{{perfil.correo}}</p>
                    </div>
                    <button >Actualizar</button>
            </main>
        
        </body>
 