
        <body>
            <main>
                <!-- logo del sitio -->
                <picture>
                    <img routerLink="/home" src="../../../assets/logos/isologo.png" alt="logo gardenigfriend">
                    <h1>Perfil Usuario</h1>
                </picture>
                <div class="info-personal">
                    <p class="username">Username: {{ userSubject.username || "Usuario" }} <i class="fas fa-edit"></i></p>
                    <p class="correo">Email: {{ userSubject.email }} <i class="fas fa-edit"></i></p>
                </div>
                    <button >Actualizar</button>
            </main>
        
        </body>
 