<div class="cover" [class.active]="activeCover"></div>

<div class="container">
<h1 class="my-garden">Mi Jardín</h1>

<h2 class="titulo-h2">Favoritos</h2>
<hr class="linea">

<div class="alertSembrar" [class.active]="activeAlert">
    <p>{{ alertText }}</p>
    <button (click)="showAlert()">Vale!</button>
</div>
<section *ngIf="cultivosToFavorito.length > 0; else elseFavorite">

    
    <div *ngFor="let favorito of cultivosToFavorito; let i = index" class="tarjeta" id="{{favorito.id}}">
        <span class="info" (click)="showInfo(favorito)">i</span>
        <div class="imagen_wrapper">
            <img [src]="favorito.imagen" alt="icono">
        </div>
        <div class="title">
            <h5 id="titulo_{{favorito.id}}" class="titulos"> {{favorito.nombre}} </h5>
        </div>
        <div class="category">
            <p> <u>Categoría:</u> {{favorito.tipo}}</p>
        </div>
        <div class="botones">
            <button (click)="removeFavorito(i)" type="button" class="favoritos">FAVORITOS X</button>
        </div>
    </div>

</section>

<ng-template #elseFavorite>
    <p style="font-size: 24px; font-weight: bold; color: antiquewhite; text-align: center; margin: 100px 0; font-family: secundaria1;">No hay ningún cultivo agregado a favoritos.</p>
</ng-template>

</div>


<!-- info de cada cultivo -->
<div class="container-info" *ngIf="activeInfo">
    <span class="close" (click)="toggleInfo()">Close</span>
    <div *ngFor="let cultivo of infoCultivos" class="info-cultivo">
        <img [src]="cultivo.imagen">
        <p>Nombre del cultivo: <b>{{cultivo.nombre}}</b></p>
        <p>Tipo de cultivo: <b>{{cultivo.tipo}}</b></p>
        <p>El cultivo germina en <b>{{cultivo.germina}} días</b></p>
        <p>El cultivo se puede cosechar en <b>{{cultivo.cosecha | convertDaysTo}}</b></p>
        <p>Temporada para sembrar <b>{{cultivo.temporada}}</b></p>
        <p>Temperatura máxima: <b>{{cultivo.temperaturaMax}}°C</b></p>
        <p>Temperatura minima: <b>{{cultivo.temperaturaMin}}°C</b></p>
        <p>Riego: <b>{{cultivo.riego}}</b></p>
        <p>cantidad de luz solar: <b>{{cultivo.luz}}</b></p>
        <p>Profundidad del sembrado: <b>{{cultivo.profundidadSembrado}} centímetros</b></p>
        <p>Espacio entre cada planta: <b>{{cultivo.espacioPlantas}} centímetros</b></p>
    </div>
</div>