<body>
  <main>
      <!-- logo del sitio -->
      <picture>
          <img routerLink="/home" src="../../../assets/logos/isologo.png" alt="logo gardenigfriend">
          <h1>Registro</h1>
      </picture>
      
        <form (ngSubmit)="register()">
          <input type="text" placeholder="Nombre" [(ngModel)]="username" name="name" required>
          <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required>
          <input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
          <button type="submit">Registrarse</button>
      </form>
        
        
        
      
  </main>
  
</body>