<body>
    <main>
        <!-- logo del sitio -->
        <picture>
            <img routerLink="/home" src="../../../assets/logos/isologo.png" alt="logo gardenigfriend">
            <h1>Registro</h1>
        </picture>
        

        <!-- <form (ngSubmit)="onSubmit()" #registroForm="ngForm">
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" [(ngModel)]="user.nombre" name="nombre" required>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" [(ngModel)]="user.email" name="email" required>
            </div>
            <div class="form-group">
              <label>Contraseña</label>
              <input type="password" class="form-control" [(ngModel)]="user.password" name="password" required>
            </div>
            <div class="form-group">
              <label>Confirmar contraseña</label>
              <input type="password" class="form-control" [(ngModel)]="user.confirm_password" name="confirm_password" required>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!registroForm.valid || user.password !== user.confirm_password">Registrarse</button>
          </form> -->

          <form (ngSubmit)="register()">
            <input type="text" placeholder="Nombre" [(ngModel)]="username" name="name" required>
            <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required>
            <input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
            <button type="submit">Registrarse</button>
        </form>
          
          
          
        
    </main>
    
</body>