<footer>
    <div id="contenedor_isologo">
        <img src="../../../assets/logos/isologo-blanco.png" alt="logo-pagina">
    </div>
    <div id="contacto">
        <a href="https://www.facebook.com/" target="_blank"><img src="../../../assets/logos/logo-face.png" alt="logo" /></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="../../../assets/logos/logo-insta.png" alt="logo" /></a>
        @GardeningFriend
    </div>
    <p id="descripcion_footer">
        Puedes contactarnos a traves de nuestras redes sociales.
    </p>
</footer>